label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fafafa;
  padding: 12px;
}

input {
  height: 37px;
}

textarea {
  resize: vertical;
}

form {
  width: 100%;
}

form button {
  margin: 10px 0;
}

#application p {
  text-align: center;
}

#application-form-button {
  margin-bottom: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.privacy-notice {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
