nav {
  width: 100%;
  height: 59px;
  background-color: #212121;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 20px;
  color: white;
  height: 100%;
}

header h3 {
  margin: 0;
  font-size: 16px;
}

header a:link,
header a:visited {
  color: white;
}

header a:hover,
#hamburger:hover {
  color: #70e2d9;
  cursor: pointer;
}

#nav-container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#hamburger {
  font-size: 31px;
  padding-bottom: 3px;
}

#close {
  font-size: 40px;
}

.main-nav {
  background: url('../../../img/landing-cover.png');
}

.what-we-do-nav {
  background: url('../../../img/IMG_2566.jpg');
}

.lessons-nav {
  background: url('../../../img/EB2019-SpringRecital-9027.jpg');
}

.new-students-nav {
  background: url('../../../img/EB2019-SpringRecital-8881.jpg');
}

.nav-image {
  height: 160px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.main-header {
  position: relative;
  bottom: 50px;
}

@media (max-width: 374px) {
  .lessons-nav {
    height: 144px;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  .nav-image {
    height: 200px;
  }

  .main-header {
    bottom: 70px;
  }

  .lessons-nav {
    height: 144px;
  }

  .lessons-header {
    bottom: 43px;
  }
}

@media (min-width: 375px) and (min-height: 812px) {
  .nav-image {
    height: 335px;
    background-position-y: bottom;
  }

  .main-header {
    bottom: 139px;
  }

  .lessons-nav {
    height: 399px;
  }

  .lessons-header {
    bottom: 170px;
  }
}

@media (min-width: 568px) {
  .nav-image {
    background-position-y: -218px;
  }

  .lessons-nav {
    height: 144px;
    background-position-y: -118px;
  }

  .lessons-header {
    bottom: 44px;
  }

  .new-students-nav {
    background-position-y: -109px;
  }
}

@media (min-width: 667px) {
  .nav-image {
    background-position-y: -271px;
  }

  .lessons-nav {
    background-position-y: -150px;
  }

  .new-students-nav {
    background-position-y: -142px;
  }
}

@media (min-width: 736px) {
  .nav-image {
    background-position-y: -315px;
  }

  .new-students-nav {
    background-position-y: -166px;
  }
}

@media (min-width: 768px) {
  header h3 {
    font-size: 20px;
  }

  .nav-image {
    height: 340px;
    background-position-y: -236px;
  }

  .main-header {
    bottom: 138px;
  }

  .new-students-nav {
    background-position-y: -86px;
  }
}

@media (min-width: 667px) {
  .what-we-do-nav {
    background-position-y: -167px;
  }

  header h3 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .what-we-do-nav {
    background-position-y: -111px;
  }

  .lessons-nav {
    height: 399px;
    background-position-y: -58px;
  }

  .lessons-header {
    bottom: 172px;
  }
}

@media (min-width: 812px) {
  nav {
    height: 83px;
  }

  #nav-menu-desktop-container {
    display: flex;
    align-items: baseline;
    margin-top: 0;
  }

  #nav-menu-desktop {
    list-style: none;
    display: flex;
    padding: 0;
  }

  #nav-menu-apply-button h5 {
    margin: 0;
  }

  #nav-menu-apply-button h5:hover {
    color: black;
  }

  #bookings-dropdown-desktop {
    height: 44px;
  }

  #studio-dropdown-desktop {
    padding: 8px 14px 4px;
  }

  #studio-dropdown-desktop h5 {
    padding: 4px 0 10px;
  }

  .nav-dropdown-desktop {
    position: absolute;
    top: 99px;
  }

  .nav-dropdown-desktop-small {
    position: absolute;
    top: 58px;
  }

  .nav-image {
    background-position-y: -346px;
  }

  .main-header {
    bottom: 30px;
  }

  .nav-menu-item {
    margin-left: 20px;
  }

  .nav-menu-item h5:hover {
    cursor: pointer;
    color: #70e2d9;
  }

  .nav-dropdown-desktop h5,
  .nav-dropdown-desktop-small h5 {
    margin: 0;
  }

  .gray-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #212121;
    border: 2px solid #212121;
    border-radius: 0;
    padding: 0 28px;
  }

  .gray-button:hover {
    color: black;
  }

  .gray-button h5:hover {
    color: black;
  }
}

@media (min-width: 812px) and (max-height: 375px) {
  #what-we-do {
    padding-top: 75px;
  }

  .what-we-do-nav {
    background-position-y: -220px;
  }

  .nav-image {
    height: 160px;
  }

  .main-header {
    bottom: 38px;
  }

  .lessons-nav {
    height: 144px;
    background-position-y: -200px;
  }

  .lessons-header {
    bottom: 32px;
  }

  .new-students-nav {
    background-position-y: -192px;
  }

  .nav-lessons-dropdown-landscape {
    top: 89px;
  }
}

@media (min-width: 992px) {
  #nav-menu-contact-button {
    margin-left: 20px;
  }
}

@media (min-width: 1000px) {
  #bookings-dropdown-desktop {
    height: 44px;
  }

  .nav-dropdown-desktop {
    top: 119px;
  }

  .nav-dropdown-desktop-small {
    top: 58px;
  }

  .nav-image {
    height: 200px;
    background-position-y: -436px;
  }

  .what-we-do-nav {
    background-position-y: -279px;
  }

  .main-header {
    bottom: 60px;
  }

  .lessons-nav {
    height: 144px;
    background-position-y: -269px;
  }

  .lessons-header {
    bottom: 29px;
  }

  .new-students-nav {
    background-position-y: -243px;
  }

  .nav-lessons-dropdown-landscape {
    top: 89px;
  }
}

@media (min-width: 1200px) {
  .nav-image {
    height: 335px;
    background-position-y: -580px;
  }

  .main-header {
    bottom: 128px;
  }

  .what-we-do-nav {
    background-position-y: -360px;
  }

  .nav-dropdown-desktop {
    top: 187px;
  }

  .lessons-nav {
    height: 400px;
    background-position-y: -269px;
  }

  .lessons-header {
    bottom: 160px;
  }

  .new-students-nav {
    background-position-y: -310px;
  }

  .nav-lessons-dropdown-landscape {
    top: 217px;
  }
}

@media (min-width: 1500px) {
  .main-nav {
    background-position-y: -644px;
  }
}

@media (min-width: 1600px) {
  .main-nav {
    background-position-y: -700px;
  }
}

@media (min-width: 1700px) {
  .main-nav {
    background-position-y: -760px;
  }
}

@media (min-width: 1800px) {
  .main-nav {
    background-position-y: -820px;
  }
}

@media (min-width: 1900px) {
  .main-nav {
    background-position-y: -880px;
  }
}

@media (min-width: 2000px) {
  .main-nav {
    background-position-y: -950px;
  }
}

@media (min-width: 2100px) {
  .main-nav {
    background-position-y: -1010px;
  }
}

@media (min-width: 2200px) {
  .main-nav {
    background-position-y: -1070px;
  }
}

@media (min-width: 2300px) {
  .main-nav {
    background-position-y: -1130px;
  }
}

@media (min-width: 2400px) {
  .main-nav {
    background-position-y: -1200px;
  }
}
